.home 
	.home__wrapper 
		.home__hero__con
			.home__marque 
				.marquee__inner 
					h3="LOOKBOOK"
					figure.home__hero__item__media 
						img(src="hemd.png", alt="").home__hero__item__image
				.marquee__inner 
					h3="LOOKBOOK"
					figure.home__hero__item__media 
						img(src="hemd.png", alt="").home__hero__item__image
				.marquee__inner 
					h3="LOOKBOOK"
					figure.home__hero__item__media 
						img(src="hemd.png", alt="").home__hero__item__image
				
				.marquee__inner 
					h3="LOOKBOOK"
					figure.home__hero__item__media 
						img(src="hemd.png", alt="").home__hero__item__image

			.home__hero 
				h2.home__hero__title
					span="SIMPLY"
					br
					span="ELEGANT"
				p.home__hero__description
					span="We provide clothes more"
					span="than just stitched fabric,"
					span="clothes that will make"
					span="you smile"
				p.home__hero__awards 
					span="2023 VIENNA Fashion"
					span="Awards Winners"
				.home__hero__pictures 
					figure.home__hero__item__media 
						img(src="hemd_2.png", alt="").home__hero__item__image
					figure.home__hero__item__media 
						img(src="hemd_18.png", alt="").home__hero__item__image
					figure.home__hero__item__media 
						img(src="hemd_3.png", alt="").home__hero__item__image
				
				.home__hero__full__circle 
				.home__hero__semi__circle
				.home__hero__image
					figure.home__hero__image__media 
						img(src="hemd_3.png", alt="").home__hero__image__image
				.home__hero__explore__more 
					p="Explore More"
					figure.home__hero__item__media 
						img(src="hemd.png", alt="").home__hero__item__image
