.home 
	.home__wrapper 
		.home__hero__con
			.home__marque 
				.marquee__inner 
					h3="LOOKBOOK"
					figure.home__hero__item__media 
						img(src="hemd.png", alt="").home__hero__item__image
				.marquee__inner 
					h3="LOOKBOOK"
					figure.home__hero__item__media 
						img(src="hemd.png", alt="").home__hero__item__image
				.marquee__inner 
					h3="LOOKBOOK"
					figure.home__hero__item__media 
						img(src="hemd.png", alt="").home__hero__item__image
				
				.marquee__inner 
					h3="LOOKBOOK"
					figure.home__hero__item__media 
						img(src="hemd.png", alt="").home__hero__item__image

			.home__hero 
				h2.home__hero__title
					span="SIMPLY"
					br
					span="ELEGANT"
				p.home__hero__description
					span="We provide clothes more"
					span="than just stitched fabric,"
					span="clothes that will make"
					span="you smile"
				p.home__hero__awards 
					span="2023 VIENNA Fashion"
					span="Awards Winners"
				.home__hero__pictures 
					figure.home__hero__item__media 
						img(src="hemd_2.png", alt="").home__hero__item__image
					figure.home__hero__item__media 
						img(src="hemd_18.png", alt="").home__hero__item__image
					figure.home__hero__item__media 
						img(src="hemd_3.png", alt="").home__hero__item__image
				
				.home__hero__full__circle 
				.home__hero__semi__circle
				.home__hero__image
					figure.home__hero__image__media 
						img(src="hemd_3.png", alt="").home__hero__image__image
				.home__hero__explore__more 
					p="Explore More"
					figure.home__hero__item__media 
						img(src="hemd.png", alt="").home__hero__item__image
		.home__products__con 
			.home__products 
				.home__collaborations
					.home__collaborations__top
						.home__collaborations__item 	
							figure.home__collaborations__item__media 
								img(src="adidas-9.svg", alt="").home__collaborations__item__image
						.home__collaborations__item 	
							figure.home__collaborations__item__media 
								img(src="chanel.png", alt="").home__collaborations__item__image
						.home__collaborations__item 	
							figure.home__collaborations__item__media 
								img(src="adidas-9.svg", alt="").home__collaborations__item__image
						.home__collaborations__item 	
							figure.home__collaborations__item__media 
								img(src="chanel.png", alt="").home__collaborations__item__image
						.home__collaborations__item 	
							figure.home__collaborations__item__media 
								img(src="adidas-9.svg", alt="").home__collaborations__item__image
						.home__collaborations__item 	
							figure.home__collaborations__item__media 
								img(src="chanel.png", alt="").home__collaborations__item__image
					.home__collaborations__bottom 
						p.home__collaborations__text
							span="our collaborations with high-"
							span="end brands, express yourself"
							span="through our unique fashion"
							span="collections"
				.home__products__showcase
					.home__products__showcase__top 
						h2.home__products__showcase__title 
							span="Your desired"
							span="product"
						img.home__highlight__image(src="hemd.png", alt="")
					.home__products__showcase__bottom 	
						.home__product__showcase 
							figure.home__showcase_item__media 
								img(src="hemd_9.png", alt="").home__showcase_item__image
						.home__product__showcase 
							.curved__text__con
								svg(viewbox='0 0 100 100' width='100' height='100')
									defs
										path#circle(d='\
										M 85, 98\
										m -37, 0\
										a 48,48 0 1,1 4,0\
										a 48,48 0 1,1 -134,0')
									text(font-size='30')
										textpath(xlink:href='#circle')
											| shop now shop now hop now shop now shop now shop now shop now shop now shop now shop now shop now shop now shop now shop now shop now shop now shop now shop now shop now shop now		
							figure.home__showcase_item__media 
								img(src="hemd_3.png", alt="").home__showcase_item__image
						.home__product__showcase 
							figure.home__showcase_item__media 
								img(src="hemd_6.png", alt="").home__showcase_item__image

				.home__products__description__container
					p.home__products__description
						span.home__products__description__text="To"
						span.home__products__description__text="wear"
						br
						span.home__products__description__text="Dreams"
						span.home__products__description__text=" on"
						br
						span.home__products__description__text="ones"
						span.home__products__description__text="body"
						span.home__products__description__text="is"
						br
						span.home__products__description__text="To"
						span.home__products__description__text="begin"
						span.home__products__description__text="To"
						br
						span.home__products__description__text="give"
						span.home__products__description__text="a"
						span.home__products__description__text="reality"
						br
						span.home__products__description__text="To"
						span.home__products__description__text="one"
						span.home__products__description__text="dream"
					figure.home__products__media
						img.home__products__image(src="hemd.png", alt="")
					figure.home__products__media
						img.home__products__image(src="hemd_11.png", alt="")
					figure.home__products__media
						img.home__products__image(src="hemd_12.png", alt="")
					figure.home__products__media
						img.home__products__image(src="hemd_13.png", alt="")
					figure.home__products__media
						img.home__products__image(src="hemd.png", alt="")
					figure.home__products__media
						img.home__products__image(src="hemd_4.png", alt="")
					figure.home__products__media
						img.home__products__image(src="hemd_5.png", alt="")
					figure.home__products__media
						img.home__products__image(src="hemd_6.png", alt="")
					figure.home__products__media
						img.home__products__image(src="hemd.png", alt="")
					figure.home__products__media
						img.home__products__image(src="hemd.png", alt="")
				
				.home__lookbook 
					h2.home__lookbook__title
						span="Lookbook of"
						br
						span="the season"
					p.home__lookbook__description
						span="Find what makes you feel"
						br
						span="beautiful and wear it with"
						br
						span="confidence. Dress for the life"
						br
						span="you want to live"
					.home__loookbook__circle__top
						.home__lookbook__circle 
							figure.home__lookbook__media
								img.home__lookbook__image(src="hemd_23.jpg", alt="")
						.home__lookbook__circle 
							figure.home__lookbook__media
								img.home__lookbook__image(src="hemd_21.jpg", alt="")
					.home__loookbook__circle__bottom
						.home__lookbook__circle 
							figure.home__lookbook__media
								img.home__lookbook__image(src="hemd_24.jpeg", alt="")
						.home__lookbook__circle 
							figure.home__lookbook__media
								img.home__lookbook__image(src="hemd_22.jpeg", alt="")
					figure.home__lookbook__media__floating
							img.home__lookbook__image(src="hemd.png", alt="")
					figure.home__lookbook__media__floating
							img.home__lookbook__image(src="hemd.png", alt="")
			.home__marquee__bottom 	
				.marquee__inner 
					h3="Join now"
					figure.home__marquee__item__media 
						img(src="hemd.png", alt="").home__marquee__item__image
				.marquee__inner 
					h3="Join now"
					figure.home__marquee__item__media 
						img(src="hemd.png", alt="").home__marquee__item__image
				.marquee__inner 
					h3="Join now"
					figure.home__marquee__item__media 
						img(src="hemd.png", alt="").home__marquee__item__image
				
				.marquee__inner 
					h3="Join now"
					figure.home__marquee__item__media 
						img(src="hemd.png", alt="").home__marquee__item__image




			
				
						
					
